<section class="wrapper">
    <button class="open-btn">OPEN</button>

    <div class="popup close">
        <div class="popup__wrapper">
            <button class="popup__close close">
                <!-- <img src="img/icon-popup-close.svg" alt="close popup" > -->
            </button>
            <div class="popup__warning">
                <div class="popup__warning-img">
                    <img src="img/icon-warning_notify-red.svg" alt="popup warning">
                </div>
                <p class="popup__warning-description">
                    Are you sure you want to uninstall the Shazam app
                </p>
            </div>
            <div class="popup__footer">
                <button class="popup__btn popup__btn_false close">Cancel</button>
                <button class="popup__btn popup__btn_true">Uninstall</button>
            </div>
        </div>
    </div>
</section>